.nav {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  gap: 20px;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.navLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  transition: all 0.15s ease-in-out;
}

.navLeft:hover {
  cursor: pointer;
  opacity: 0.8;
}

.navRight {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;

  @media (max-width: 900px) {
    flex-direction: column;
    margin-left: 0;
    margin-top: 20px;
  }
}

.homeLink {
  font-size: 24px;
  font-weight: 500;
}

.connectWalletContainer {
  max-width: 350px;
}

.buttonLink {
  padding: 12px 24px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  transition: box-shadow 300ms ease;
}

.buttonLink:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}
