.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  max-width: 1400px;
  position: relative;
  padding-bottom: 2.5rem;
  margin-top: 128px;
}

.title {
  margin: 0;
  font-weight: 700;
  letter-spacing: -0.05em;
  display: block;
  font-size: 3.75rem;
  line-height: 1.1;
  margin-bottom: 16px;
}

.subtitle {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.description {
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: inline-block;
  text-decoration: inherit;
  color: #7f8ea3;
  max-width: 720px;
}

.subDesc {
  font-size: 1rem;
}

.demoContainer {
  display: flex;
  flex-direction: row;
  padding-top: 1.5rem;
}

.itemContainer {
  border: 1px solid hsl(216 34% 17%);
  border-radius: 8px;
  flex: 1 1 0%;
  padding: 2rem;
}

.tabs {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
  flex-wrap: wrap;
  width: calc(196px + 1rem);
}

.tab {
  text-decoration: inherit;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  font-weight: 500;
  color: #7f8ea3;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  padding-top: 8px;
  padding-bottom: 8px;
  border-left: 2px solid rgba(255, 255, 255, 0.07);
  padding-left: 16px;
}

.tab:hover {
  cursor: pointer;
  color: #f8fafc;
}

.active {
  font-weight: 700;
  color: #f8fafc;
  border-color: #3385ff;
}

.subheading {
  margin: 0;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.025em;
}
