.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.link {
  font-weight: bolder;
  color: #38daf1;

  transition: all 0.2s ease-in-out;

  &:hover {
    color: #ad50be;
    text-decoration: underline;
  }
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  gap: 16px;
  margin-top: 16px;
}

.btnHover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  width: 162px;
  font-size: 1.15em;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 48px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
  margin-top: 8px;

  &:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }

  &:focus {
    outline: none;
  }
}

.btnPrimary {
  background-image: linear-gradient(
    to right,
    #3cdff3,
    #9947ee,
    #51c8f2,
    #af4cff
  );
  box-shadow: 0 1px 15px 0 rgba(116, 79, 168, 0.75);
}

.btnSecondary {
  background-color: transparent;
  border: 1px solid #af4cff;

  &:hover {
    border: 1px solid #fff;
  }
}

// Mobile screens
@media (max-width: 768px) {
  .heroImage {
    display: none;
  }
}
