.container {
  margin-top: 2em;
  padding: 8px;
  margin-top: 12px;
}

.title {
  text-shadow: 0 0 80px rgb(192 219 255 / 48%), 0 0 32px rgb(65 120 255 / 24%);
}

.caption {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.5;
}

.code {
  background-color: #0d0d18;
  color: white;
  padding: 8px 4px;
  border-radius: 8px;
}

.list {
  margin-top: 1.5em;
  margin-bottom: 2.5em;
  font-size: 1em;
  line-height: 1.5;
}

.list li {
  margin-bottom: 1em;
}

.link {
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  background-color: #202020;
  padding: 3px;
  border-radius: 4px;
}

.link:hover {
  text-decoration: underline;
}

.nestedList {
  margin-left: 16px;
  margin-top: 12px;
}

.buttonContainer {
  margin-top: 16px;
}

.eventCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  padding: 8px;
  background-color: #202020;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Screens smaller than 750px */
@media (max-width: 750px) {
  .eventCard {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
